// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gray;
  height: 90px;
  font-size: $font-size-lg;
  margin-bottom: $grid-grap;
}
