// В этом файле должны быть стили для БЭМ-блока card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.card {

  $block-name:                &; // #{$block-name}__element

  background-color: $gray;
  padding: $card-padding;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;

  background-position: center;
  background-size: cover;

  &--big {
    justify-content: center;
    align-items: start;
    text-align: center;
    padding: 26px;
    font-size: $font-size-lg;
    overflow: hidden;

    @media only screen and (max-width: $screen-sm) {
      padding: $card-padding;
      font-size: $font-size;
    }

  }

  &--gray-dark {
    background-color: $gray-dark;
    color: $white;
  }

  &--gray-light {
    background-color: $gray-light;
  }

  &--yellow {
    background-color: $yellow;
  }
  &--blue {
    background-color: $blue;
  }
  &--green {
    background-color: $green;
  }
  &--red {
    background-color: $red;
  }
  &--pink {
    background-color: $pink;
  }
  &--purple {
    background-color: $purple;
  }

  &--text-white {
    color: $white;
  }

}
