//- Все примеси в этом файле должны начинаться c имени блока (card)

mixin card(text, mods, url)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +card('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' card--' + modsList[i].trim();
      }
    }
   var style = url ? `background-image:url(${url})` : '';

  .card(class=allMods style=style)&attributes(attributes)
    div!=text

