extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

block content
  .page-index
    .page-index__hot
      +hot()
    .page-index__warmly
      +warmly()
    .page-index__hot-reverse
      +hot__reverse()
    .page-index__freeze
      +freeze()
