// В этом файле должны быть стили для БЭМ-блока freeze, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.freeze {

  $block-name:                &; // #{$block-name}__element

  display: grid;
  grid-gap: 10px;
  grid-template: minmax(150px, auto)  / 1fr 1fr 1fr;
  grid-auto-rows: minmax(150px, auto);

  &__item:nth-child(2) {
    grid-column: 2 / -1;

  }

  @media only screen and (max-width: $screen-sm) {
    grid-template: minmax(150px, auto)  / 1fr 1fr;

    &__item:nth-child(2) {
      grid-column: 1 / -1;
      grid-row: 1;
    }
    &__item:nth-child(5) {
      grid-column: 2;
      grid-row: -1;
    }
    &__item:nth-child(4) {
      grid-column: 1;
      grid-row: 2;
    }

  }

}
