//- Все примеси в этом файле должны начинаться c имени блока (freeze)

mixin freeze(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +freeze('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' freeze--' + modsList[i].trim();
      }
    }

  .freeze(class=allMods)&attributes(attributes)
    .freeze__item
      +card('Лидерство', 'pink')
    .freeze__item
      +card('Однако', 'pink')
    .freeze__item
      +card('Невероятный гений', 'red')
    .freeze__item
      +card('Точка перегиба', 'pink')
    .freeze__item
      +card('Длинна вектора', 'purple')

