//- Все примеси в этом файле должны начинаться c имени блока (personal-data)

mixin personal-data(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +personal-data('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' personal-data--' + modsList[i].trim();
      }
    }

  .personal-data(class=allMods)&attributes(attributes)
    .personal-data__list
      .personal-data__item
        .personal-data__prop Фамилия
        .personal-data__value Мамая
      .personal-data__item
        .personal-data__prop Имя отчество
        .personal-data__value Станислава Владимировна
      .personal-data__item
        .personal-data__prop Номер полиса
        .personal-data__value 01354879
      .personal-data__item
        .personal-data__prop Дата рождения
        .personal-data__value 01.12.1976
      .personal-data__item
        .personal-data__prop Телефон
        .personal-data__value +79254218069
