// В этом файле должны быть стили для БЭМ-блока personal-data, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.personal-data {

  $block-name: &; // #{$block-name}__element
  padding: 15px;
  background-color: $green;
  width: 100%;

  &__item {
    display: flex;
  }

  &__item:not(:last-of-type) {
    margin-bottom: 25px;
  }


  &__item:after {
    content: '';
    width: 100%;
    border-bottom: 1px dotted $black;
    order: 1;
  }

  &__prop {
    flex: 0 1 auto;
    min-width: max-content;
    margin-right: 8px;
  }

  &__value {
    order: 2;
    white-space: nowrap;
    min-width: max-content;
    margin-left: 8px;
  }

}
