// В этом файле должны быть стили для БЭМ-блока warmly, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.warmly {

  $block-name: &; // #{$block-name}__element
  display: grid;
  grid-gap: 10px;
  grid-template: minmax(150px, auto)  / 1fr 1fr 1fr;
  grid-auto-rows: minmax(150px, auto);

  &__item {
    position: relative !important;
  }

  &__item:nth-child(4) {
    grid-column: 1 / 3;
    grid-row: 2;
  }


  @media only screen and (max-width: $screen-sm) {
    grid-template: minmax(150px, auto)  / 1fr 1fr;
  }


}
