//- Все примеси в этом файле должны начинаться c имени блока (warmly)

mixin warmly(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +warmly('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' warmly--' + modsList[i].trim();
      }
    }

  .warmly(class=allMods)&attributes(attributes)
    .warmly__item
        +card('Наши сотрудники', 'gray-light')
    .warmly__item
        +card('Просветляют понимающий текст', 'gray-light')
    .warmly__item
        +card('Интроекция', 'blue')
    .warmly__item
        +card('Конформизм', 'gray-light')
    .warmly__item
        +card('Наши сотрудники', 'yellow')
