//- Все примеси в этом файле должны начинаться c имени блока (hot)

mixin hot(mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +hot('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' hot--' + modsList[i].trim();
      }
    }

  .hot(class=allMods)&attributes(attributes)
    .hot__square
      .hot__content
        .hot__item.hot__item--big.square
          .square__inner
            +card('Гений непредвзято понимает за собой конфликт. Закон внешнего мира, очевидно, реально подчеркивает здравый смысл', 'big, gray-dark')
        .hot__item.square
          .square__inner
            +card('Чувство однократно', 'gray-dark')
        .hot__item.square
          .square__inner
            +card('Морено', 'gray-dark')

mixin hot__reverse(mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +hot('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' hot--' + modsList[i].trim();
      }
    }

  .hot.hot--reverse(class=allMods,)&attributes(attributes)
    .hot__square
      .hot__content
        .hot__item.hot__item--big.square
          .square__inner
            +personal-data()
        .hot__item.square
          .square__inner
            +card('Понятие модернизации понимает механизм власти', 'green')
        .hot__item.square
          .square__inner
            +card('Наши сотрудники', 'green, text-white', 'https://cdn.pixabay.com/photo/2015/09/22/19/00/ship-952292_960_720.jpg')
