// В этом файле должны быть стили для БЭМ-блока hot, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.hot {

  $block-name: &; // #{$block-name}__element

  &__square {
    overflow: hidden;
  }

  &__content {
    display: grid;
    grid-gap: $grid-grap;
    grid-template: repeat(2, auto)  / 2fr 1fr;
    grid-auto-flow: column;
    position: relative;
    margin-left: -5px;
    left: 5px;
  }

  &__item {
    padding: 5px;
    border-radius: 3px;
    position: relative !important;
  }

  &__item--big {
    grid-row: 1 / -1;
  }

  &--reverse &__item--big {
    grid-row: 1 / -1;
    grid-column-start: 2;
  }

  &--reverse &__content {
    grid-template: repeat(2, auto)  / 1fr 2fr;
    margin-right: 0;
    right: 0;
    left: auto;
  }

}

