// В этом файле должны быть стили для БЭМ-блока page-index, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-index {

  $block-name:                &; // #{$block-name}__element


  display: flex;
  flex-direction: column;

  > div:not(:last-of-type) {
    margin-bottom: $grid-grap;
  }

  @media only screen and (max-width: $screen-sm) {

    &__hot {
      order: 2;
    }
    &__warmly {
      order: 1;
    }
    &__hot-reverse {
      display: none;
      order: 3;
    }
    &__freeze {
      order: 4;
    }
  }
}
