// Базовые цвета https://colorscheme.ru/color-converter.html

$gray:                        #c4c4c4;
$gray-dark:                   #a2a9b7;
$gray-light:                  #e8ebed;
$yellow:                      #febf26;
$blue:                        #90bce8;
$green:                       #e3ebd3;
$red:                         #f55e62;
$pink:                        #ffaa87;
$purple:                      #c7abd4;
$white:                       #ffffff;



$card-padding:                15px;

$black:                       #000000;
$gray-darkest:                hsl(0, 0%, 10%);
$gray-darker:                 hsl(0, 0%, 20%);
$gray-darken:                 hsl(0, 0%, 30%);



$color-main:                  hsl(208, 98%, 43%);
$color-main:                  hsl(208, 98%, 43%);
$color-success:               hsl(120, 39%, 54%);
$color-danger:                hsl(2, 64%, 58%);
$color-warning:               hsl(35, 84%, 62%);



// Базовая типографика

$font-size:                   14px;

$font-size-sm:                0.75em; // 12px от 16px
$font-size-lg:                1.25em; // 12px от 16px

$line-height:                 1.5;

$typo-margin-vertical:        1em;

$font-family:                 -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family--monospace:     SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
// Georgia, Times New Roman, Times, serif



// Ширины

$screen-xs:                   0;
$screen-sm:                   480px;

// Модульная сетка

$grid-grap:                   10px;

