// В этом файле должны быть стили для БЭМ-блока square, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.square {

  $block-name: &; // #{$block-name}__element

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;


  &__inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
  }

  &:after {
    content: '';
    float: left;
    display: block;
    padding-top: 100%;
  }
}
