//- Все примеси в этом файле должны начинаться c имени блока (square)

mixin square(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +square('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' square--' + modsList[i].trim();
      }
    }

  .square(class=allMods)&attributes(attributes)
    .square__inner
      block
